@charset "UTF-8";

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1; 
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0))
}

*,
::after,
::before {
    box-sizing: border-box
}

@media (prefers-reduced-motion:no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

body {
    margin: 0;
    font-family: 'Sarabun', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

/*Убрать полосу прокрутки у элемента*/
.element::-webkit-scrollbar {
  width: 0;
}

/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
  width: 0;
}

ul {
    padding-left: 2rem
}


ul {
    margin-top: 0;
    margin-bottom: 1rem
}

a {
    color: var(--primary-color);
    text-decoration: underline;

}

a:hover {
    color: var(--primary-color);
}

label {
    display: inline-block
}

button {
    border-radius: 0
}

button:focus:not(:focus-visible) {
    outline: 0
}


select {
    text-transform: none
}

select {
    word-wrap: normal
}

select:disabled {
    opacity: 1
}



[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer
}

::-moz-focus-inner {
    padding: 0;
    border-style: none
}

::-webkit-datetime-edit-year-field {
    padding: 0
}

::-webkit-inner-spin-button {
    height: auto
}



::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-color-swatch-wrapper {
    padding: 0
}

::file-selector-button {
    font: inherit
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

iframe {
    border: 0
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

@media (min-width:576px) {

    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {

    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {

    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {

    .container {
        max-width: 1140px
    }
}

@media (min-width:1400px) {

    .container {
        max-width: 1320px
    }
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2)
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y)
}




/* Надо */ 
@media (min-width:992px) {

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.3333333333%
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.6666666667%
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.3333333333%
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.6666666667%
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%
    }

    .offset-lg-1 {
        margin-left: 8.3333333333%
    }
}
/* //Надо */

.form-control[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control::file-selector-button {
    padding: .375rem .75rem;
    margin: -.375rem -.75rem;
    -webkit-margin-end: .75rem;
    margin-inline-end: .75rem;
    color: #212529;
    background-color: #e9ecef;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .form-control::file-selector-button {
        transition: none
    }
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: #dde0e3
}

.form-control::-webkit-file-upload-button {
    padding: .375rem .75rem;
    margin: -.375rem -.75rem;
    -webkit-margin-end: .75rem;
    margin-inline-end: .75rem;
    color: #212529;
    background-color: #e9ecef;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .form-control::-webkit-file-upload-button {
        -webkit-transition: none;
        transition: none
    }
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: #dde0e3
}

.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: #dde0e3
}

.form-control-sm::file-selector-button {
    padding: .25rem .5rem;
    margin: -.25rem -.5rem;
    -webkit-margin-end: .5rem;
    margin-inline-end: .5rem
}

.form-control-lg::file-selector-button {
    padding: .5rem 1rem;
    margin: -.5rem -1rem;
    -webkit-margin-end: 1rem;
    margin-inline-end: 1rem
}

.form-control-color:not(:disabled):not([readonly]) {
    cursor: pointer
}

.form-floating > .form-control::placeholder {
    color: transparent
}

.form-floating > .form-control:not(:-moz-placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: .625rem
}

.form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: .625rem
}

.form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
    opacity: .65;
    transform: scale(.85) translateY(-.5rem) translateX(.15rem)
}

.form-floating > .form-control:not(:placeholder-shown) ~ label {
    opacity: .65;
    transform: scale(.85) translateY(-.5rem) translateX(.15rem)
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .btn {
        transition: none
    }
}

.btn:hover {
    color: #212529
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(103 58 183 / 42%);
}

.btn:disabled {
    pointer-events: none;
    opacity: .65
}

.btn-primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    color: #fff;
    background-color: #e31922;
    border-color: #e31922;
}

.btn-primary:focus {
    color: #fff;
    background-color: #e31922;
    border-color: #e31922;
    box-shadow: 0 0 0 0.25rem rgb(244 67 54 / 30%);
}

.btn-primary:active {
    color: #fff;
    background-color: #e31922;
    border-color: #e31922;
}

.btn-primary:active:focus {
    box-shadow: 0 0 0 0.25rem rgb(244 67 54 / 30%);
}

.btn-primary:disabled {
    color: #fff;
    background-color: #e31922;
    border-color: #e31922;
}

.collapse:not(.show) {
    display: none
}

.collapsing {
    height: 0;
    overflow: hidden;
    transition: height .35s ease
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .nav-link {
        transition: none
    }
}

.nav-link:focus,
.nav-link:hover {
    color: #0a58ca
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem
}

.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .navbar-toggler {
        transition: none
    }
}

.navbar-toggler:hover {
    text-decoration: none
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 .25rem
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%
}

.navbar-nav-scroll {
    max-height: var(--bs-scroll-height, 75vh);
    overflow-y: auto
}

@media (min-width:992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem
    }

    .navbar-expand-lg .navbar-nav-scroll {
        overflow: visible
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto
    }

    .navbar-expand-lg .navbar-toggler {
        display: none
    }
}

.navbar-light .navbar-brand {
    opacity: 1;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    opacity: 1;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .55);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, .7)
}

.navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, .9)
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .55);
    border-color: rgba(0, 0, 0, .1)
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease
}

@media (prefers-reduced-motion:reduce) {
    .accordion-button {
        transition: none
    }
}

.accordion-button:not(.collapsed) {
    color: var(--primary-color);
    background-color: #e7f1ff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125)
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg)
}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .accordion-button::after {
        transition: none
    }
}

.accordion-button:hover {
    z-index: 2
}

.accordion-button:focus {
    z-index: 3;
    border-color: var(--primary-color);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25)
}

.accordion-header {
    margin-bottom: 0
}

.accordion-item {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125)
}

.accordion-item:first-of-type {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px)
}

.accordion-item:not(:first-of-type) {
    border-top: 0
}

.accordion-item:last-of-type {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px)
}

.accordion-item:last-of-type .accordion-collapse {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.accordion-body {
    padding: 1rem 1.25rem
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030
}

.visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important
}

.d-flex {
    display: flex !important
}

.position-relative {
    position: relative !important
}

.justify-content-center {
    justify-content: center !important
}

.align-items-center {
    align-items: center !important
}

.mx-2 {
    margin-right: .5rem !important;
    margin-left: .5rem !important
}

.my-2 {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important
}

.my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important
}

.mt-3 {
    margin-top: 1rem !important
}

.mt-4 {
    margin-top: 1.5rem !important
}

.mt-5 {
    margin-top: 3rem !important
}

.mb-1 {
    margin-bottom: .25rem !important
}

.mb-2 {
    margin-bottom: .5rem !important
}

.mb-3 {
    margin-bottom: 1rem !important
}

.mb-4 {
    margin-bottom: 1.5rem !important
}

.ms-3 {
    margin-left: 1rem !important
}

.ms-auto {
    margin-left: auto !important
}

.py-2 {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important
}

.pt-2 {
    padding-top: .5rem !important
}

.text-end {
    text-align: right !important
}

.text-center {
    text-align: center !important
}

@media (min-width:576px) {

    .mt-sm-0 {
        margin-top: 0 !important
    }

    .py-sm-5 {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important
    }
}

/*# sourceMappingURL=bootstrap.min.css.map */

/*--/Font-Awesome--*/
/*!
 * Font Awesome Free 5.15.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
 .fa,
 .fas,
 .far,
 .fab {
     -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
     display: inline-block;
     font-style: normal;
     font-variant: normal;
     text-rendering: auto;
     line-height: 1;
 }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
  readers do not read off random characters that represent icons */

/*Надо */
.fa-check:before {
    content: "\f00c";
}

.fa-clock:before {
    content: "\f017";
}

.fa-user-clock:before {
    content: "\f4fd";
    position: relative;
    left: 3px;
}

.fa-shield-alt:before {
    content: "\f3ed";
    position: relative;
    left: 0px;
}

.fa-truck:before {
    content: "\f0d1";
    position: relative;
    left: 0px;
}

.fa-truck-moving:before {
    content: "\f4df";
}

.fa-bars:before {
    content: "\f0c9";
}

.fa-facebook-f:before {
    content: "\f39e";
}

.fa-linkedin-in:before {
    content: "\f0e1";
}

.fa-level-up-alt:before {
    content: "\f3bf";
}

.fa-map-marker-alt:before {
    content: "\f3c5";
}

.fa-envelope:before {
    content: "\f0e0";
}

.fa-phone-alt:before {
    content: "\f879";
}

.fa-angle-double-right:before {
    content: "\f101";
}

/*Надо */



@font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../webfonts/fa-brands-400.eot");
    src: url("../webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-brands-400.woff2") format("woff2"), url("../webfonts/fa-brands-400.woff") format("woff"), url("../webfonts/fa-brands-400.ttf") format("truetype"), url("../webfonts/fa-brands-400.svg#fontawesome") format("svg");
}

.fab {
    font-family: 'Font Awesome 5 Brands';
    font-weight: 400;
}

.far {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
}

@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url("../webfonts/fa-solid-900.eot");
    src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"), url("../webfonts/fa-solid-900.ttf") format("truetype"), url("../webfonts/fa-solid-900.svg#fontawesome") format("svg");
}

.fa,
.fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

/*--//Font-Awesome--*/


/* НАДО */
:root {
    --primary-color: #f52029;
    --font-color: #636466;
    --bg-color: #fff;
    --heading-color: #181d2e;
    --border-radius: 6px;
    --border-radius-full: 35px;
    --border-color: transparent;
    --border-color-light: #e4e6e5;
    --nav-color: #181d2e;
    --dropdown-color: #fff;
    --iframe-filter: grayscale(0%);
    --bg-grey: #f7f7f9;
    --bg-lightgrey: #f9f9f9;
    --layer: rgb(0 0 0 / 56%);
    --layer1: rgb(0 0 0 / 65%);
    --footer-bg: #181d2e;
    --footer-bglight: #222;
}

[data-theme="dark"] {
    --primary-color: #f52029;
    --font-color: #c2c2c2;
    --bg-color: #0b0d0e;
    --heading-color: #eee;
    --border-color: rgba(255, 255, 255, 0.2);
    --border-color-light: rgba(255, 255, 255, 0.1);
    --nav-color: #fff;
    --dropdown-color: #222;
    --iframe-filter: grayscale(100%);
    --bg-grey: #222;
    --bg-lightgrey: #131617;
    --layer: rgb(0 0 0 / 65%);
    --layer1: rgb(0 0 0 / 75%);
    --footer-bg: #000;
    --footer-bglight: #111;
}

.noscroll {
    overflow: hidden;
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    color: var(--font-color);
    font-family: 'Sarabun', sans-serif;

}

body a,
button,
.btn {
    cursor: pointer !important;
}

.clear {
    clear: both;
}

.img-responsive {
    max-width: 100%;
    display: block;
}

.d-grid {
    display: grid;
}

.align-self {
    align-self: center;
}


a,
a:hover {
    text-decoration: none;
}

iframe {
    border: none;
    display: block;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: var(--heading-color);
}

p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color);
    font-family: 'Sarabun', sans-serif;

}

li {
    list-style-type: none;
}

p.white {
    color: #eee;
}

.align-center {
    align-self: center;
}

.noscroll {
    min-height: 100vh;
    overflow: hidden;
}

.radius-image {
    border-radius: var(--border-radius);
}

.radius-image-full {
    border-radius: var(--border-radius-full);
}

/* //НАДО */



/* Сервисы */

:root {
    --bg-color-light: #f2f2f2;
    --bg-color-dark: #222222;
    --text-color-light: #333;
    --text-color-dark: #fff;
    --button-bg-light: #007bff;
    --button-bg-dark: #ff9900;
    --button-text-color-light: #fff;
    --button-text-color-dark: #333;
    /* Добавьте здесь другие переменные для цветов */
    }

        /* Стили для секции */
        .w3l-features {
            background-color: #f2f2f2;
            padding: 60px 0;
        }

        /* Стили для заголовка */
        .title-w3l {
            font-size: 28px;
            margin-top: 20px;
        }

        /* Стили для полей ввода и меток */
        label {
            font-size: 16px;
            display: block;
            margin-top: 10px;
        }

        input[type="text"],
        input[type="number"],
        select {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-top: 5px;
        }

        /* Стили для результата */
        #result {
            font-size: 18px;
            margin-top: 20px;
        }

/* //Сервисы */

/*-- container --*/
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

/*-- //container --*/
.btn-style {
    padding: 18px 36px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    transition: 0.3s ease-in;
    border-radius: var(--border-radius);
    text-transform: capitalize;
}

.btn-white {
    color: var(--primary-color);
    background: #fff;
    border: 1px solid #fff;
}

.btn-white:hover {
    color: #fff;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.title-w3l,
.title-w3l.two {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    text-transform: capitalize;
}

.title-w3l.two {
    color: #fff;
}

.title-subw3hny {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    line-height: 28px;
    color: var(--font-color);
    position: relative;
    opacity: 0.9;
}

@media (max-width: 1080px) {

    .title-w3l,
    .title-w3l.two {
        font-size: 32px !important;
        line-height: 40px;
    }
}

@media (max-width: 568px) {

    .title-w3l,
    .title-w3l.two {
        font-size: 30px !important;
        line-height: 38px;
    }
}

@media (max-width:480px) {

    .title-w3l,
    .title-w3l.two {
        font-size: 26px !important;
        line-height: 32px;
    }

    .btn-style {
        padding: 14px 28px;
    }
}

@media (max-width: 375px) {

    .title-w3l,
    .title-w3l.two {
        font-size: 24px !important;
        line-height: 30px;
    }

    p {
        font-size: 16px;
        line-height: 26px;
    }

    .title-w3l,
    .title-w3l.two {
        font-size: 24px !important;
        line-height: 34px;
    }
}

/*-- toggle switch --*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 1rem;
}

.theme-switch {
    display: inline-block;
    position: relative;
    margin: 0;
}

.theme-switch input {
    display: none;
}

/*-- //toggle switch --*/
/*-- dark and light mode styling --*/
.mode-container {
    width: 24px;
    height: 24px;
    padding: 1px 0;
}

.gg-sun {
    position: relative;
    transform: scale(var(--ggs, 1));
    height: 24px;
    background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px;
    border: 6px solid transparent;
}

.gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs, 1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom: 2px solid transparent;
}

.gg-moon,
.gg-moon:after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
    color: #fff;
}

.nav-fixed .gg-moon,
.nav-fixed .gg-moon:after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
    color: #fff;
}

.gg-moon:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px;
}

.gg-sun,
.gg-sun:after,
.gg-sun:before {
    box-sizing: border-box;
    display: block;
    width: 24px;
    color: #eee;
}

.gg-sun:after,
.gg-sun:before {
    content: "";
    position: absolute;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px;
}

.gg-sun:before {
    transform: rotate(-45deg);
}

.gg-sun:after {
    transform: rotate(45deg);
}

.mode-container i.gg-sun {
    display: none;
}

.mode-container i.gg-moon {
    display: block;
}

input:checked + .mode-container i.gg-sun {
    display: block;
}

input:checked + .mode-container i.gg-moon {
    display: none;
}

/*--//Light-and-Drak-Mode--*/

/* contacts */
.contacts-sub-5 iframe {
    width: 100%;
    height: 540px;
    display: block;
    -webkit-filter: var(--iframe-filter);
    -moz-filter: var(--iframe-filter);
    -ms-filter: var(--iframe-filter);
    -o-filter: var(--iframe-filter);
    filter: var(--iframe-filter);
}

.w3l-contact-10 form.signin-form,
.w3l-contact-10 .map-content-5 {
    margin: 0 auto;
    max-width: 1100px;
}

.w3l-contact-10 .form-inner-cont input,
.w3l-contact-10 .form-inner-cont textarea {
    outline: none;
    width: 100%;
    font-family: inherit;
    text-align: left;
    display: grid;
    grid-template-columns: .1fr 1fr;
    align-items: center;
    border-radius: var(--border-radius);
    min-height: 60px;
    padding: 13px 20px;
    border: 1px solid var(--border-color-light);
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    color: var(--heading-color);
    background-color: var(--bg-lightgrey);
}

.w3l-contact-10 .form-inner-cont textarea {
    height: 125px;
    resize: none;
    padding: 13px 20px;
    margin: 25px 0px;
    display: grid;
    grid-template-columns: .1fr 1fr;
    align-items: center;
    padding-left: 15px;
    border: 1px solid var(--border-color-light);
    border-radius: var(--border-radius);
    background-color: var(--bg-lightgrey);
}

.w3l-contact-10 .form-inner-cont input:focus,
.w3l-contact-10 .form-inner-cont textarea:focus {
    border: 1px solid var(--primary-color);
    background: var(--bg-color);
}

.w3l-contact-10 .form-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.w3-submit {
    text-align: right;
}

.w3l-contact-10 .address-grid h6 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-top: 12px;
    font-weight: 600;
}

.map-content-5 {
    position: absolute;
    right: 10%;
    top: 20%;
    background: var(--bg-color);
    border-radius: var(--border-radius);
    padding: 40px;
}

h4.title-w3l-adinf {
    font-size: 20px;
}

.map-content-5 .address-grid {
    display: flex;
}

.w3l-contact-10 .address-grid h4 a:hover {
    opacity: 0.85;
}

.w3l-contact-10 .address-grid p {
    margin-top: 10px;
}

.w3l-contact-10 .address-grid a {
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color);
    display: block;
}

.address-grid p a {
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color);
    display: block;
}

.address-grid i {
color: var(--primary-color);
    margin-right: 4px;
    font-size: 16px;
    line-height: 34px;
    width: 28px;
    height: 28px;
}

.w3l-contact-10 .address-grid a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

@media all and (max-width: 991px) {
    .w3l-contact-10 .contacts-sub-5 iframe {
        height: 350px;
    }
}

@media all and (max-width: 736px) {
    .w3l-contact-10 .form-grids {
        grid-template-columns: 1fr;
        grid-gap: 18px;
    }

    .w3l-contact-10 .contact-type {
        grid-template-columns: 1fr;
    }
}

@media all and (max-width:640px) {
    .w3l-contact-10 .form-inner-cont h3 {
        font-size: 40px;
        margin-bottom: 30px;
    }
}

@media all and (max-width: 590px) {
    .contacts-sub-5 iframe {
        width: 100%;
        height: 430px;
    }

    .map-content-5 {
        position: absolute;
        right: 10%;
        top: 15%;
        padding: 30px;
        left: 10%;
    }
}

@media all and (max-width: 415px) {}

/*--//contact--*/

/*---/Header-Style--*/
/* header */
header {
    background-color: transparent;
    padding: 0;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    /* box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05); */
}

header.nav-fixed {
    padding: 0;
    background-color: var(--bg-color);
    height: 80px;
    border-bottom: none;
    box-shadow: 0 25px 98px 0 rgb(7 6 8 / 7%);
    z-index: 10 !important;
    /* for z-index:10 to display gallery popup */
}

.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
    margin: 0;
}

span.sub-color {
    color: var(--primary-color);
}

.navbar .navbar-brand i {
    font-weight: 900;
    color: var(--primary-color);
}

.navbar h1 {
    line-height: 0;
}

.navbar .navbar-brand img {
    max-width: 140px;
    transition: all 0.5s ease;
}

.navbar-nav .nav-item {
    padding: 0 12px;
    transition: all 0.5s ease;
    position: relative;
}

.navbar-nav .nav-link:focus {
    color: var(--primary-color);
}

.navbar-expand-lg .navbar-nav .show > .nav-link,
.navbar-expand-lg .navbar-nav .active > .nav-link,
.navbar-expand-lg .navbar-nav .nav-link.show,
.navbar-expand-lg .navbar-nav .nav-link.active,
.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: var(--primary-color);
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

.navbar-expand-lg .navbar-nav .nav-link {
    transition: all 0.5s ease;
    padding: 10px 0 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    opacity: .9;
    text-transform: capitalize;
}

.navbar-expand-lg .navbar-nav .nav-link span.fa.fa-angle-down {
    vertical-align: middle;
}

.navbar-nav .dropdown-menu li {
    position: relative;
}


a.dropdown-item {
    font-weight: 600;
    font-size: 1em;
    position: relative;
    color: var(--heading-color);
    padding-top: 0;
    display: block;
    padding-bottom: 14px;
    text-transform: capitalize;
}

a.dropdown-item:hover {
    color: var(--primary-color);
    background: none;
}

a.dropdown-item.active {
    background: transparent;
    color: var(--primary-color);
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(-30px);
    background: var(--bg-color);
    border: 1px solid var(--border-color-light);

}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
    content: '';
    width: 14px;
    height: 14px;
    background: var(--bg-color);
    border: 1px solid var(--border-color-light);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}


.dropdown-toggle::after {
    display: none;
}

/* Отзывы */
    .w3l-contact-10 .w3-submit button {
        margin-left: -2px;
    }

    /* Стили для окна отзыва */
    .review-container {
        background-color: #ffffff; /* Белый фон */
        color: #000000; /* Черный цвет текста */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
        border-radius: 15px; /* Скругление углов */
        padding: 12px; /* Внутренний отступ */
        margin: 10px auto; /* Центрирование и внешний отступ */
        max-width: 400px; /* Максимальная ширина отзыва */
    }
/* //Отзывы */

/* Стили для формы */
:root {
    --bg-color-light: #f2f2f2;
    --bg-color-dark: #161616;
    --text-color-light: #333;
    --text-color-dark: #000000;
    --button-bg-light: #007bff;
    --button-bg-dark: #ff9900;
    --button-text-color-light: #000000;
    --button-text-color-dark: #333;
    /* Добавьте здесь другие переменные для цветов */
}

/* Стили для модального окна и фона */
.modal {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Запретить прокрутку фона */
}

.modal.show {
    display: flex;
    opacity: 1;
}

.modal-content {
    background-color: var(--bg-color-light);
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    margin: 20% auto;
    padding: 20px;
    position: relative;
    width: 300px;
    margin-top: 222px; /* Сдвиг формы вверх на 20 пикселей */
    color: var(--text-color-dark);
}

.close {
    color: var(--text-color-dark);
    font-size: 30px;
    font-weight: bold;
    position: absolute; /* Изменили на position: absolute */
    right: 4px; /* Разместили в правом верхнем углу */
    top: -10px; /* Разместили в правом верхнем углу */
    cursor: pointer;
}


/* Стили для полей ввода и меток */
label {
    font-size: 16px;
    display: block;
    margin-top: 10px;
    color: var(--text-color-dark);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

/* Стили для кнопки */
button {
    background-color: #dc3545;
    color: #fff;
    padding: 18px 36px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    transition: 0.3s ease-in;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
}



/* Стили для полей ввода и меток */
label {
    display: none; /* Скрываем метки, чтобы они исчезали при вводе данных */
}



.modal {
    display: none;
}


/* Стили для результата */
#result {
    font-size: 18px;
    margin-top: 20px;
}
/* //Стили для формы */

/* Effects */
.overlay-slidedown {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}

@media screen and (max-height: 30.5em) {
    .overlay nav {
        height: 70%;
        font-size: 34px;
    }

    .overlay ul li {
        min-height: 34px;
    }
}

/*--//serach--*/

.nav-fixed .navbar-nav .nav-link {
    color: var(--heading-color);
    opacity: 0.8;
}

.nav-fixed .navbar-brand {
    color: var(--heading-color);
}

.nav-fixed .searchw3-icon {
    background: var(--bg-grey);
}

.nav-fixed .gg-moon,
.nav-fixed .gg-moon:after {
    color: var(--heading-color);
}

/*--//serach--*/
@media only screen and (max-width: 992px) {

    header {
        height: auto;
        padding: 17px 0;
    }

    nav.navbar.navbar-expand-lg.navbar-light {
        padding: 0;
    }

    .navbar-collapse {
        max-height: calc(100vh - 80px);
        overflow-y: scroll;
    }

    .navbar-toggler {
        padding: 0rem !important;
        border: none;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-collapse {
        float: left;
        text-align: center;
        width: 100%;
        background: var(--bg-color);
        padding: 20px;
        margin-top: 16px;
        /* box-shadow: 0 6px 19px rgb(0 0 0 / 5%); */
        border-radius: 4px;
        border: 1px solid var(--border-color-light);
    }

    .navbar-expand-lg .navbar-nav .nav-item {
        padding: 2px 0;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        display: inline-block;
        text-align: center;
        color: var(--nav-color);
    }

    .navbar-toggler-icon {
        background-image: none;
        padding: 0;
        width: 34px;
        height: 34px;
        display: inline-block;
        background: #272121;
        border-radius: 4px;
        text-align: center;
    }

    .navbar-toggler-icon.fa {
        font-size: 20px;
        line-height: 1.2em;
        background: var(--primary-color);
        line-height: 34px;
        color: #fff;
    }

    button.navbar-toggler .icon-close {
        display: block;
    }

    button.navbar-toggler .icon-expand {
        display: none;
    }

    button.navbar-toggler.collapsed .icon-close {
        display: none;
    }

    button.navbar-toggler.collapsed .icon-expand {
        display: block;
    }

    .mobile-position {
        position: absolute;
        right: 50px;
        top: 6px;
    }

    .navbar .navbar-brand {
        margin: 0;
        padding: 0;
        font-size: 28px;
    }
}

/*---//Header-Style--*/

/*---/Banner-Style--*/
/*--/slider--*/

/*--/banner--*/

.w3l-main-slider .banner-view {
    background: url(../images/banner1.jpg) no-repeat center;
    -ms-background-size: cover;
    background-size: cover;
    z-index: 0;
    position: relative;
    display: grid;
    align-items: center;
    min-height: 740px;
    background-size: cover;
}

.w3l-main-slider .banner-view:before {
    content: "";
    background: var(--layer);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.w3l-main-slider .header-hero-19 {
    max-width: 680px;
    margin: 0 auto;
    text-align: center;
}

.w3l-main-slider h3.title-hero-19 {
    font-size: 66px;
    line-height: 76px;
    color: #ffffff;
    font-weight: 700;
    margin: 10px 0 20px;
    text-shadow: rgb(0 0 0) 0px 0px 0px;
    text-transform: capitalize;
}

.banner-slider {
    position: relative;
}

@media (max-width: 1080px) {
    .w3l-main-slider h3.title-hero-19 {
        font-size: 40px;
        line-height: 50px;
    }

    .w3l-main-slider .banner-view,
    .w3l-main-slider .banner-top1 {
        min-height: 600px;
    }
}

@media (max-width: 1024px) {
    .w3l-main-slider h3.title-hero-19 {
        font-size: 36px;
        line-height: 46px;
        margin: 10px 0 5px;
    }
}

@media (max-width: 992px) {

    .w3l-main-slider .header-hero-19 {
        max-width: 600px;
        margin: 0;
        text-align: left;
        margin-top: 3em;
    }
}

@media (max-width: 667px) {

    .w3l-main-slider .banner-view,
    .w3l-main-slider .banner-top1 {
        min-height: 460px;
    }
}

@media (max-width: 480px) {
    .w3l-main-slider h3.title-hero-19 {
        font-size: 32px;
        line-height: 42px;
    }
}

@media (max-width: 387px) {

    .w3l-main-slider .banner-view,
    .w3l-main-slider .banner-top1 {
        min-height: 440px;
    }
}


/*--//w3l-main-slider--*/
/*--/w3l-3-grids--*/

/*--/w3l-3-grids--*/
/*--/w3l-project--*/


/*--/features--*/
.title-content {
    max-width: 700px;
    margin: 0 auto;
}

.w3l-features {
    background: var(--bg-grey);
}

.w3l-features .icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--bg-grey);
    text-align: center;
    margin: 0 auto;
}

.w3l-features .icon i {
    color: var(--primary-color);
    line-height: 100px;
    font-size: 34px;
}

.w3l-features .grids-1.box-wrap {
    padding: 60px 40px;
    background: var(--bg-color);
    border-radius: var(--border-radius);
    text-align: center;
}

.w3l-features .grids-1.box-wrap:hover .icon {
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    background-color: var(--primary-color);
}

.w3l-features .grids-1.box-wrap:hover .icon i {
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    color: #fff;
}

.w3l-features .box-wrap:hover p {
    opacity: 0.9;
}

.w3l-features .box-wrap h4 a {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    margin: 16px 0px 6px 0px;
    display: block;
    color: var(--heading-color);
    text-transform: capitalize;
}

.w3l-features .box-wrap h4 a:hover {
    color: var(--primary-color);
}

/*--//features--*/

/*--/video--*/

/* play icon animation */

/* //play icon animation */
/*--//video--*/
/*--/inner-banner--*/
.inner-banner {
    background: url(../images/banner2.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    position: relative;
    z-index: 0;
}

.inner-banner:before {
    content: "";
    background: var(--layer1);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.w3breadcrumb-gids {

    text-align: center;
}

.w3breadcrumb-right {
    text-align: center;
    padding-top: 1em;
}

h2.inner-w3-title {
    font-size: 46px;
    line-height: 48px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
}

.breadcrumbs-custom-path {
    text-align: center;
    display: inline-block;
}

.breadcrumbs-custom-path li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}

.breadcrumbs-custom-path li span {
    font-size: 12px;
}

.breadcrumbs-custom-path a,
.breadcrumbs-custom-path a:active,
.breadcrumbs-custom-path a:focus {
    color: var(--secondary-color);
    opacity: 0.9;
}

.breadcrumbs-custom-path a:hover {
    color: var(--secondary-color);
}

.breadcrumbs-custom-path li.active {
    color: #fff;
}

@media (max-width:992px) {
    .w3breadcrumb-gids {
display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    align-items: center;
    padding-top: 0em;
    }

    .w3breadcrumb-right {
        padding-top: 0em;
    }
}

@media (max-width:667px) {
    h2.inner-w3-title {
        font-size: 30px;
        line-height: 40px;
    }
}

@media (max-width:600px) {
    h2.inner-w3-title {
        font-size: 28px;
        line-height: 38px;
    }
}

/*--/about--*/


.w3l-index-about ul.w3l-right-book-grid {
    display: block;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 20px;
}

.w3l-index-about ul.w3l-right-book li {
    margin-bottom: 10px;
    color: var(--heading-color);
    font-size: 18px;
    list-style: inside;
    font-weight: 600;
    list-style-type: none;
}

.w3l-index-about ul.w3l-right-book li span {
    font-size: 12px;
    margin-right: 16px;
    opacity: 0.8;
    color: var(--primary-color);
}

/*--//features--*/
/*--/why-choose--*/

.w3l-ab-page .imginfo__box {
    background-color: var(--primary-color);
    color: #fff;
    position: absolute;
    left: -85px;
    bottom: 38px;
    padding: 40px;
    box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
    min-width: 300px;
    border-radius: 9px;
    text-align: center;
}

.w3l-ab-page .imginfo__box .imginfo__title {
    font-size: 70px;
    line-height: 80px;
    color: #fff;
    font-weight: 600;
}

.w3l-ab-page .imginfo__box p {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}

@media (max-width:991px) {
    .w3l-ab-page .imginfo__box {
        margin: 20px auto 0;
        position: static;
    }
}

@media (max-width: 480px) {
    .w3l-ab-page .imginfo__box .imginfo__title {
        font-size: 50px;
        line-height: 60px;
    }

    .w3l-ab-page .imginfo__box p {
        font-size: 15px;
    }

    .w3l-ab-page .imginfo__box {
        padding: 30px;
        min-width: 290px;
    }
}

/*--//why-choose--*/
/*--/faq--*/
.w3l-faq-block {
    background: var(--bg-grey);
}

/* faq section */
.accordion-button {
    color: var(--heading-color);
    font-size: 20px;
    font-weight: bold;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: var(--heading-color);
    background-color: var(--bg-grey);
}

.accordion-item {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color-light);
}

.accordion-button {
    color: var(--heading-color);
    background-color: var(--bg-color);
}

/*-- //faq --*/
/*--//progress-info--*/
.w3l-join-main {
    background: url(../images/banner1.jpg) no-repeat center;
    -ms-background-size: cover;
    background-size: cover;
    z-index: 0;
    position: relative;
    display: grid;
    align-items: center;
    background-size: cover;
}

.w3l-join-main:before {
    content: "";
    background: var(--layer1);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.w3l-join-main h6 {
    color: #fff;
    opacity: 0.8;
}

.w3l-join-main .w3l-project-in-right {
    text-align: end;
}

/*--/stats--*/

@media only screen and (max-width:991px) {
    .w3l-index-about ul.w3l-right-book-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0 20px;
    }
}

/*--//stats--*/



.w3l-team-main .team-img img {
    transition: all .2s ease-in-out;
    overflow: hidden;
    width: 100%;
}

.w3l-team-main .team-member,
.w3l-team-main .team-img {
    position: relative;
    overflow: hidden;
}

.w3l-team-main .team-title {
    margin: 25px 0 0px;
    font-size: 20px;
    color: var(--heading-color);
    font-weight: 600;
    display: block;
}

.w3l-team-main .team-member p {
    text-transform: capitalize;
}

.w3l-team-main .team-details {
    opacity: 0;
    position: absolute;
    bottom: 12%;
    left: 0;
    overflow: hidden;
    width: 100%;
    z-index: 2;
    transition: all .4s ease-in-out;
}

.w3l-team-main .team-img:hover .team-details {
    opacity: 1;
}

.w3l-team-main .team-img:hover .overlay-team {
    opacity: 1;
}

.w3l-team-main .team-member:hover a {
    color: var(--primary-color);
}

.w3l-team-main .socials a {
    display: inline-block;
    margin-right: 5px;
}


.w3l-team-main .socials a span {
    color: var(--heading-color);
    font-size: 16px;
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    line-height: 42px;
    text-align: center;
    transition: all .3s ease 0s;
    background: var(--bg-color);
}

.w3l-team-main .team-details .socials span {
    color: var(--heading-color);
}

.w3l-team-main .socials a:hover span {
    background: #fff;
    color: var(--primary-color);
}

@media all and (max-width: 991px) {
    .w3l-team-main .team-title {
        margin: 18px 0 0px;
        font-size: 20px;
    }
}

@media all and (max-width: 568px) {
    .team-row {
        padding: 0 10px;
    }

    .team-row .col-6 {
        padding: 0 10px;
    }
}

@media all and (max-width: 415px) {
    .team-row {
        padding: 0 5px;
    }
}

@media all and (max-width: 384px) {
    .w3l-team-main .team-title {
        font-size: 18px;
    }

    .w3l-team-main .socials a span {
        width: 38px;
        height: 38px;
        line-height: 38px;
    }

    .w3l-team-main .socials a {
        margin-right: 2px;
    }
}

/*--//team--*/



/*--/contact--*/
/* contacts */
.contacts-sub-5 iframe {
    width: 100%;
    height: 540px;
    display: block;
    -webkit-filter: var(--iframe-filter);
    -moz-filter: var(--iframe-filter);
    -ms-filter: var(--iframe-filter);
    -o-filter: var(--iframe-filter);
    filter: var(--iframe-filter);
}

.map-content-5 {
    position: absolute;
    right: 10%;
    top: 20%;
    background: var(--bg-color);
    border-radius: var(--border-radius);
    padding: 40px;
}

h4.title-w3l-adinf {
    font-size: 20px;
}

.map-content-5 .address-grid {
    display: flex;
}

.address-grid p a {
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color);
    display: block;
}

.address-grid i {
color: var(--primary-color);
    margin-right: 4px;
    font-size: 16px;
    line-height: 34px;
    width: 28px;
    height: 28px;
}

@media all and (max-width: 590px) {
    .contacts-sub-5 iframe {
        width: 100%;
        height: 430px;
    }

    .map-content-5 {
        position: absolute;
        right: 10%;
        top: 15%;
        padding: 30px;
        left: 10%;
    }
}

/*--//contact--*/

/*--/Footer-9--*/
/* Вверх стиль */
#movetop {
    position: fixed;
    bottom: 90px;
    right: 30px;
    z-index: 9;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 46px;
    height: 46px;
    background: var(--primary-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    padding: 0;
}

#movetop:hover {
    opacity: .8;
}

#movetop {
    display: none; /* Скрываем кнопку по умолчанию */
}
/* //Вверх стиль*/

/* Отзывы стиль */ 
#reviewButton {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 46px;
    height: 46px;
    background: var(--primary-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    padding: 0;
}

#reviewButton img {
    position: relative;
    top: 1.5px; /* Измените это значение в зависимости от необходимого вам смещения */
}

#reviewButton:hover {
    opacity: .8;
}
/* //Отзывы стиль */

section.footer-inner-main {
    background: var(--footer-bg);
}

.w3l-footer9 h2 a.navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
}

.w3l-footer9 h2 a.navbar-brand i {
    color: var(--primary-color);
}

.w3l-footer9 p {
    font-size: 16px;
    line-height: 26px;
    color: #b5b4b4;
}

.w3l-footer9 .footer-inner-main h6 {
    color: #fff;
    font-size: 22px;
    line-height: 32px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 600;
}

.w3l-footer9 .footer-inner-main .sub-two-right ul li {
    list-style: none;
}

.w3l-footer9 .footer-inner-main ul.social li {
    display: inline-block;
}

.w3l-footer9 .footer-inner-main ul.social li a {
    color: var(--primary-color);
    width: 40px;
    height: 40px;
    background: var(--bg-color);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    opacity: 1;
    margin-right: 4px;
}

.w3l-footer9 .footer-inner-main ul.social li a:hover {
    transition: 0.3s ease;
    color: #fff;
    background: var(--primary-color);
    opacity: 1;
}

.w3l-footer9 .footer-inner-main ul.social li a span {
    line-height: 40px;
}

.w3l-footer9 .footer-inner-main .columns-2 {
    margin-top: 1.2em;
}

.w3l-footer9 .sub-two-right ul li a {
    font-size: 16px;
    line-height: 26px;
    color: #b5b4b4;
    margin: 0 0 10px 0;
    display: block;
}

.w3l-footer9 .sub-two-right a:hover {
    color: #fff;
    transition: 0.3s ease;
}

@media (max-width:992px) {

    .w3l-footer9 .sub-one-left {
        margin-bottom: 30px;
    }

    .w3l-footer9 .sub-two-right {
        margin: 0 0 30px 0;
    }
}

@media (max-width:600px) {

    .w3l-footer9 .footer-inner-main .sub-columns {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
.w3l-join-main .w3l-project-in-right {
    text-align: start;
}

    .w3l-footer9 .sub-two-right {
        margin: 0 0 20px 0;
    }
}

/*--//Footer-9--*/